body{
    background-color: #0A0C1B;
    max-width: 80%;
    margin: auto;
    display: flex;
    font-family: 'Nunito', sans-serif;
    align-items: center;
    min-height: 100vh;
}
.text-content{
    background-color:#1C1938;
    color: #ffffff;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding: 5%;
}
.d-grid{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: center;
    align-content: center;
    border-radius: 15px;
}
.d-flex{
    display: flex;
    gap: 50px;
}
.mt-5{
    margin-top: 5rem;
}
.mt-2{
    margin-top: 2rem;
}
span{
    color: #a40cd6;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
.position-relative{
    position: relative;
}
.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #6b1a80;
    opacity: 0.6;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.footer p{
    margin: 0;
    color: #a9a6a6;
    font-weight: 600;
    font-size: 10px;
}
.footer h3{
    margin: 0;
    font-size: 30px;
}
.mt-1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.text-content{
    order: 1;
}
.position-relative {
    order: 2;
}
@media (max-width: 768px) {
    .d-flex, .d-grid{
        display: block;
    }
    body{
        text-align: center;
    }
}